= form_tag(shortest_route_result_url, method: "post") do
  = select("query", "source", @city_name_attributes, {include_blank: false}, {id: 'source'})
  = select("query", "destination", @city_name_attributes, {include_blank: false}, {id: 'destination'})
  = submit_tag 'Submit', { id: 'submit_query'}
